---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import Stats from '../../components/Stats.astro';
import WhoWeHelp from '../../components/WhoWeHelp.astro';
import HowItWorks from '../../components/HowItWorks.astro';
import KeyFeatures from '../../components/KeyFeatures.astro';
import Promise from '../../components/Promise.astro';
import FAQ from '../../components/FAQ.astro';
import ContactForm from '../../components/ContactForm.astro';
import Footer from '../../components/Footer.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import { getTranslations } from '../../i18n/utils';

const lang = 'de';
const t = getTranslations(lang);
---

<Layout title={t.meta.title} description={t.meta.description} lang={lang}>
  <Navbar lang={lang} t={t} />
  <main>
    <Hero t={t} />
    <Stats t={t} />
    <WhoWeHelp t={t} />
    <HowItWorks t={t} />
    <KeyFeatures t={t} />
    <Promise t={t} />
    <FAQ t={t} />
    <ContactForm t={t} />
  </main>
  <Footer t={t} />
  <WhatsAppButton t={t} />
</Layout>
